html, body {
  width: 100%;
  height: 100%; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.42;
  font-family: "OpenSans", sans-serif;
  background-color: #f7f7f7; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none;
    float: left; }

.main-wrap {
  min-width: 980px; }

.top-nav {
  height: 50px;
  font-size: 11px;
  background-color: #fff;
  text-align: center;
  padding-top: 16px;
  border-bottom: 1px solid #f1f1f1;
  position: relative; }
  .top-nav .angle-left {
    left: 27px;
    position: absolute;
    font-size: 38px;
    cursor: pointer;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%); }
  .top-nav .nav-list-progress {
    display: inline-block;
    margin-bottom: 8px;
    font-weight: bold; }
    .top-nav .nav-list-progress li {
      height: 40px;
      width: 80px;
      z-index: 1;
      position: relative; }
      .top-nav .nav-list-progress li:last-child {
        margin-right: 0; }
      .top-nav .nav-list-progress li.active a {
        color: #49a3af; }
      .top-nav .nav-list-progress li a {
        color: #b1b1b1;
        text-decoration: none;
        display: block;
        height: 40px; }
        .top-nav .nav-list-progress li a:hover {
          color: #265b63; }
  .top-nav .progress {
    width: 315px;
    height: 6px;
    -webkit-border-radius: 10px;
    border-radius: 10px; }
  .top-nav .progress-wrap {
    background: #2EB3D0;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    position: relative;
    top: -28px;
    z-index: 0; }
    .top-nav .progress-wrap .progress-bar {
      -webkit-border-radius: 0 0 10px;
      border-radius: 0 0 10px;
      background: #B9C0C9;
      left: 0;
      position: absolute;
      top: 0; }

.top-line {
  text-align: center;
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: -1px 3px 20px 0 rgba(0, 0, 0, 0.05);
  box-shadow: -1px 3px 20px 0 rgba(0, 0, 0, 0.05); }
  .top-line .btn-default {
    margin-right: 5px; }

.top-line-fees {
  background-color: #fff;
  text-align: center;
  height: 30px;
  line-height: 30px;
  font-size: 11px;
  color: #58b1bd;
  border-bottom: 1px solid #f1f1f1;
  display: none; }

.top-line-main {
  padding: 16px 0 16px 0;
  height: 36px; }

.top-line-fixed {
  position: fixed;
  width: 100%;
  top: 0; }

.top-line__left {
  width: 27%;
  float: left;
  padding-left: 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left; }
  .top-line__left .btn-transparent {
    vertical-align: top; }
  .top-line__left ul li {
    margin-top: 8px; }

.top-line__right {
  float: right;
  width: 15%;
  min-width: 150px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: right; }

.top-line__center {
  line-height: 36px;
  width: 46%;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .top-line__center .customize-btn {
    margin-left: 20px;
    vertical-align: top; }

.top-line__title {
  font-size: 14px;
  font-weight: 600;
  color: #737272;
  margin-right: 10px;
  vertical-align: top; }

.top-line__select {
  border: 0;
  color: #737272;
  font-size: 14px;
  padding-right: 5px; }

.comment {
  font-weight: bold;
  position: relative;
  display: inline-block;
  margin-right: 25px; }

.comment__count {
  font-size: 11px;
  display: inline-block;
  padding: 1px 6px;
  background: #49a3af;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: #fff;
  position: absolute;
  right: -9px;
  top: 0;
  line-height: 15px; }

.collaborators-wrap {
  display: inline-block;
  margin-right: 20px; }

.btn {
  width: 125px;
  height: 36px;
  border: 1px solid transparent;
  padding: 7px 15px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  vertical-align: middle;
  position: relative; }
  .btn img {
    float: left;
    color: #ccc; }

.btn-transparent {
  background: none;
  border-color: #ccc;
  color: #7f7e7e; }
  .btn-transparent span {
    float: left; }
  .btn-transparent span {
    line-height: 14px;
    margin-left: 10px; }

.btn-default {
  color: #fff;
  background-color: #49a3af; }

.btn-decline {
  color: #f2736a;
  background-color: #f2f2f2; }

.btn-demo {
  width: auto;
  background-color: #49a3af;
  color: #fff;
  position: relative;
  top: -4px; }

.btn-close {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  display: block;
  outline: none;
  padding: 0;
  color: #b8b8b8;
  position: absolute;
  right: 25px;
  font-size: 30px; }

.btn-noborder {
  border-color: transparent;
  width: 140px; }

main {
  max-width: 690px;
  width: 100%;
  min-height: 1600px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  margin-top: 128px; }

.demo {
  background-color: #faf0c9;
  text-align: center;
  height: 68px;
  line-height: 68px;
  position: relative; }

.demo-title {
  margin: 0;
  color: #a08736;
  display: inline-block;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px; }

.demo-box {
  background-color: #a08736;
  display: inline-block;
  width: 60px;
  height: 25px;
  vertical-align: bottom; }

.demo .btn-demo {
  margin-left: 40px; }

.nav-footer {
  height: 67px;
  background-color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; }

.nav-footer__btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center; }
  .nav-footer__btn:first-child {
    margin-right: 5px; }
  .nav-footer__btn a {
    display: inline-block;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
    .nav-footer__btn a:hover .arrow {
      background-color: #49a3af; }
    .nav-footer__btn a:hover .bottom:after {
      border-top: 2px solid #fff;
      border-right: 2px solid #fff; }
    .nav-footer__btn a:hover .top:after {
      border-top: 2px solid #fff;
      border-right: 2px solid #fff; }
  .nav-footer__btn .arrow {
    display: inline-block;
    width: 34px;
    height: 34px;
    border: 1px solid #ccc;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
  .nav-footer__btn .top:after {
    content: '';
    display: inline-block;
    margin-top: 14px;
    width: 8px;
    height: 8px;
    border-top: 2px solid #49a3af;
    border-right: 2px solid #49a3af;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .nav-footer__btn .bottom:after {
    content: '';
    display: inline-block;
    margin-top: 0.6em;
    width: 8px;
    height: 8px;
    border-top: 2px solid #49a3af;
    border-right: 2px solid #49a3af;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg); }

.nav-footer__right {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%); }

.nav-footer__center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .nav-footer__center .btn {
    margin-left: 20px; }

.nav-footer__select {
  border: 0;
  padding-right: 10px;
  vertical-align: middle;
  margin-right: 15px;
  color: #7f7e7e; }

.nav-list-menu {
  display: inline-block;
  font-size: 16px; }
  .nav-list-menu .active {
    font-weight: bold;
    border-bottom: 4px solid #49a3af; }
  .nav-list-menu li:hover a {
    color: #000; }
  .nav-list-menu a {
    color: #737272;
    text-decoration: none;
    padding: 5px 22px 19px;
    display: inline-block;
    text-transform: uppercase; }

.top-nav__right {
  position: absolute;
  right: 25px;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  top: 50%; }
  .top-nav__right > span {
    font-size: 14px;
    color: #737272; }

.top-nav__right .btn-default {
  margin-left: 20px; }

.section-design-main,
.section-design__left {
  border-left: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1; }

.section-design__left {
  width: 260px;
  height: 130px;
  padding-left: 20px;
  float: left; }

.section-design-main {
  height: 130px;
  text-align: left;
  padding: 0; }
  .section-design-main h3 {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: normal;
    color: #737272;
    margin-bottom: 20px; }

.section-design__center {
  float: left;
  padding-left: 25px;
  max-width: 600px;
  width: 100%;
  height: 130px;
  border-left: 1px solid #f1f1f1; }
  .section-design__center .select-container {
    max-width: 580px;
    width: 100%; }

.section-design__select {
  border: 0;
  color: #737272;
  font-size: 14px;
  padding-right: 5px; }

.select-container li {
  margin-right: 15px; }
  .select-container li:last-child {
    margin-right: 0; }
  .select-container li > span {
    display: block;
    font-size: 12px;
    font-weight: normal;
    color: #737272;
    margin-bottom: 10px; }

.sp-replacer:after {
  border-top: 5px solid #5f5e5e; }

.font-select {
  width: 385px;
  border: 1px solid #e1e1e1;
  padding: 0 5px 0 10px; }
  .font-select .current {
    text-transform: none; }
  .font-select .list {
    width: 385px; }

.size-select {
  border: 1px solid #e1e1e1;
  padding: 0 5px 0 10px;
  width: 80px; }

.selectric-wrapper li {
  float: none; }

.selectric {
  border: solid 1px #e1e1e1;
  background-color: #fff;
  padding-right: 30px; }
  .selectric .button {
    width: 20px;
    height: 32px;
    background-color: #fff; }
    .selectric .button:after {
      border-top-color: #5f5e5e; }
  .selectric .label {
    margin: 0 0 0 10px;
    color: #737272;
    line-height: 34px;
    height: 32px;
    text-align: right; }

.selectric-items {
  border: 0;
  background-color: #fff; }
  .selectric-items ul li {
    margin-right: 0;
    padding-left: 20px; }
    .selectric-items ul li.highlighted {
      background-color: #49a3af;
      color: #fff; }

.selectric-font-select {
  width: 385px; }
  .selectric-font-select .label {
    text-align: left; }

.selectric-size-select {
  width: 80px; }
  .selectric-size-select .label {
    text-align: left; }

.selectric-heading-select {
  width: 125px;
  margin-bottom: 14px;
  margin-top: 3px; }
  .selectric-heading-select .label {
    margin-left: 0;
    text-transform: uppercase;
    text-align: left; }
  .selectric-heading-select .selectric {
    border: 0; }

.selectric-nav-footer__select {
  float: left;
  width: 230px; }
  .selectric-nav-footer__select .label {
    font-size: 14px; }
  .selectric-nav-footer__select .selectric {
    border: 0; }

.selectric-top-line__select {
  display: inline-block;
  width: 130px;
  text-align: left; }
  .selectric-top-line__select .label {
    font-size: 14px; }
  .selectric-top-line__select .selectric {
    border: 0; }

.design-header,
.theme-header {
  display: none; }

.btn-arrow:hover:after {
  border-top-color: #a2a2a2; }

.btn-arrow:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  margin: auto;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top-color: #5f5e5e;
  border-bottom: none; }

.theme-header {
  height: 210px;
  padding-top: 30px;
  width: 100%;
  position: absolute;
  background-color: #fff;
  border-top: 1px solid #f1f1f1;
  text-align: center;
  -webkit-box-shadow: -1px 3px 20px 0 rgba(0, 0, 0, 0.05);
  box-shadow: -1px 3px 20px 0 rgba(0, 0, 0, 0.05); }

.theme-item {
  max-width: 170px;
  width: 100%;
  display: inline-block;
  margin: 0 20px; }

.theme-item__panel {
  height: 120px;
  padding-top: 15px;
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1); }

.theme-heading-text {
  font-size: 16px;
  color: #49a3af;
  font-weight: bold;
  margin-bottom: 5px; }

.theme-paragraph-text {
  font-size: 12px;
  color: #7f7e7e;
  margin-bottom: 15px; }

.btn-theme {
  margin-bottom: 25px;
  width: 90px; }

.theme-name {
  margin-top: 15px;
  color: #7f7e7e;
  font-size: 14px;
  font-weight: bold; }

.sp-input {
  background-color: #fff; }

@media (max-width: 1299px) {
  .theme-item {
    margin-bottom: 20px; }
  .theme-header {
    height: 380px; } }

.tabs-stage .tab {
  display: none; }

.tabs-stage .tab:first-child {
  display: block; }
